$bg-dark-1: #0B1536;
$bg-dark-2: #131D3E;
$bg-dark-3: #212C51;
$menu-active-color: #3C4871;
$blue-1 : #1876ff;
$blue-2 : #5071C8;
$green : #2AEC1C;


$bg-light: #F5F5F5;
$light-text: #ffffff;
$dark-text: #272727;

$switch-color : $blue-1;
$switch-pointer-color : #fff;
$switch-width : 40px;

$footer-height : 55px;

