{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block customCss %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/patients.css' %}">
    <link rel="stylesheet" href="{% static 'css/patients_exstra.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatable.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <link rel="icon" type="image/png" href="{% static specs.favicon %}" />

    <style>
      .progress{
          position: relative;
          height: 15px;
          width: 100%;
          border: 4px solid #f4a261;
          border-radius: 15px;
      }
      .progress .color{
          position: absolute;
          background-color: green;
          width: 0%;
          height: 7px;
          border-radius: 15px;
          animation: progres 4s infinite linear;
      }
      .previewDeleteContainer {
          right: 0;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 99;
      }
      .previewDeleteButton {
          background: transparent;
          border: 0;
          float: right;
      }
      .ts3-delete {
          border: 0;
          cursor: pointer !important;
          background-color: #e66c76;
      }
  </style>
{% endblock %}
{% block content %}
<main class="p-xl-4 p-3" style="margin-bottom: 75px;">
  <div class="uygulama-olustur border-one background-one">
      <form enctype='multipart/form-data' method="post"
            class="dropzone dz" id="dicomDropzone" style="color:red">
          {% csrf_token %}
          <div class="fallback">
              <input name="file" type="file" multiple/ style="color:yellow">
          </div>
          <div class="dz-message needsclick"></div>
          <div class="row col-lg-12 center mb-5" style="text-align: center">
              <div class="ii1-text mt-4 col-lg-12" style="background: red;">
                  Select files from your computer <br> or drag and drop files.
              </div>
          </div>
      </form>
  </div>
</main>
{% endblock %}
{% block customJs %}
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/datatable.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/dropzone.js' %}"></script>
    <script src="{% static 'js/sweatalert.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/patients.js' %}"></script>
    <script>
      function setAlert(message, alert_type) {
          $('#alert_message').html(message)
          $('#alert_type').html(alert_type)
          $(location).attr('href', '#alert');
      }
  </script>
  <script>
        function uuidv4() {
            return ([1e7]+1e3+4e3+8e3+1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        }
        var parametre = uuidv4()
        url = "{% url 'dicom_image_upload'%}";
        Dropzone.autoDiscover = false;
        var image_response_type = null;
        var file_url = null;
        var progress_slug;
        var check_dicom_uploaded_before = false
        var u_can_upload = false
        var file_name = null;
        console.log("DROPZOEN")

        const myDropzone = new Dropzone('#dicomDropzone', {
            autoProcessQueue: true,
            url: url,
            maxFiles: 100000000,
            maxFilesize: 99999,
            acceptedFiles: '.dcm',
            timeout: 9999999999,
            chunking: true,
            chunkSize: 2000000,
            clickable: "#dicomDropzone",
            parallelChunkUploads: false,
            retryChunks: true,
            retryChunksLimit: 5,
            forceChunking: true,
            init: function() {
                this.on("sending", function(file, xhr, formData) {
                    // Gönderilecek diğer parametreleri burada belirtebilirsiniz
                    formData.append('slug', parametre);
                });

                this.on("success", function(file, response) {
                    // Dosya yükleme başarılı olduğunda yapılacak işlemleri burada tanımlayabilirsiniz
                    console.log("Dosya başarıyla yüklendi:", response);
                });

                this.on("error", function(file, errorMessage) {
                    // Dosya yükleme hatası durumunda yapılacak işlemleri burada tanımlayabilirsiniz
                    console.error("Dosya yüklenirken hata oluştu:", errorMessage);
                });

                this.on("queuecomplete", function() {
                    // Tüm dosyalar yüklendikten sonra API isteğini burada yapabilirsiniz
                    console.log("Tüm dosyalar yüklendi. API isteği gönderilecek.");

                    // Örnek olarak jQuery kullanarak bir POST isteği gönderelim
                    var csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val()
                    $.ajax({
                        url: "{% url 'convert_niftii_and_panoramic' %}",
                        method: 'POST',
                        headers: { 'X-CSRFToken': csrfmiddlewaretoken },
                        data: {
                            // Burada gerekli verileri ve dosya bilgilerini gönderebilirsiniz
                            // Ekstra verileri burada ekleyebilirsiniz
                            slug: parametre,
                        },
                        success: function(response) {
                            console.log("API isteği başarılı:", response);
                            // API isteği başarılı olduğunda yapılacak işlemleri burada tanımlayabilirsiniz
                        },
                        error: function(xhr, status, error) {
                            console.error("API isteği sırasında hata oluştu:", error);
                            // API isteği sırasında hata durumunda yapılacak işlemleri burada tanımlayabilirsiniz
                        }
                    });
                });
            }
        })
      </script>
  {# Image upload backend #}
  {#    Delete #}
  <script>
      var active_preview_element = null
      var active_file_name = null
      function openDeleteImageModal(file_name) {
          active_file_name = file_name
          $(location).attr('href', '#deleteImageModal');
      }
  
  </script>
{% endblock %}