{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" href="{% static specs.favicon %}" />
    <title>{{specs.title}} - {% trans 'Reset Password' %}</title>
    {% if specs.theme_css %}
        <link rel="stylesheet" href="{% static specs.theme_css %}">
    {% endif %}
</head>

<body>
    <section id="login">
        <div class="container-fluid p-0 h-100">
            <div class="row g-0 h-100">
                <div class="col-md-6 d-flex flex-column align-items-center justify-content-center p-3">
                    <div class="text-center py-5">
                        <img src="{% static specs.login_page_logo %}" class="login-logo logo img-fluid" width="330" alt="">
                    </div>
                    <div class="form-container">
                        <div class="left-area d-flex flex-column justify-content-center">
                            <h1>{% trans 'Reset Password' %}</h1>
                            <p class="handleError text-light my-1 p-1 rounded bg-danger" style="opacity: 0;">
                                <i class="fa-solid fa-circle-exclamation"></i>
                                {% trans 'Username or Password Incorrect' %}</p>
                            <form id="resetPasswordForm" action="" class="bg-dansger" onsubmit="handleLogin(event)">
                                {% csrf_token %}
                                <label for="keyInput">
                                    <span class="text-danger">*</span>
                                    <span>{% trans 'Your reset code' %}</span>
                                </label>
                                <input id="keyInput" name="keyInput" type="text" placeholder="{% trans 'Your reset code' %}" required>

                                <label for="passwordInput">
                                    <span class="text-danger">*</span>
                                    <span>{% trans 'New Password' %}</span>
                                </label>
                                <input id="passwordInput" name="passwordInput" type="password" placeholder="{% trans 'New Password' %}" required>

                                <label for="passwordInput2">
                                    <span class="text-danger">*</span>
                                    <span>{% trans 'New Password Again' %}</span>
                                </label>
                                <input id="passwordInput2" name="passwordInput2" type="password" placeholder="{% trans 'New Password Again' %}" required>
                                
                                <!-- <p class="higlight-text">
                                    {% trans 'I have read and understood the' %} <a href="#"><u>{% trans 'Clarification text' %}</u></a> {% trans  'on the Processing of Personal Data and the' %} <a href="#"><u>{% trans 'Personal Data Protection Policy' %}</u></a> 
                                    {% trans 'prepared by Craniocatch Medikal ve Dental Bilişim Teknolojileri Anonim Şirketi.' %}
                                </p> -->
                                <!-- <div class="accept-portal-term">
                                    <input type="checkbox" name="" id="accept-term" required>
                                    <label for="accept-term">{% trans 'I have read and accept the Portal Terms of Use.' %}</label>
                                </div> -->
                                <a href="">
                                    <button id="submit-button" class="btn text-light w-100">{% trans 'Reset Password' %}</button>
                                </a>
                                <!-- <a href="" class="forgot-password">{% trans 'Forgot Password' %}</a> -->
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-area h-100">
                        <img src="{% static specs.banner %}" class="img-fluid login-img" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $('#keyInput').click(function(){
            $(this).css("border","") //çerçeveyi kaldırır
        })
    </script>
    <script>
        $('#passwordInput, #passwordInput2').click(function(){
            $('#passwordInput, #passwordInput2').css("border","") //çerçeveyi kaldırır
        })
    </script>
    <script>
    $(document).ready(function() {
        $("#submit-button").click(function(event) {
            event.preventDefault();
            let yeni_sifre = $('input#passwordInput').val();
            let yeni_sifre_tekrar = $('input#passwordInput2').val();
            let key = $('input#keyInput').val();
            var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
            console.log(yeni_sifre);
            console.log(yeni_sifre_tekrar);
            console.log(key);
            $.ajax({
                url: "{% url 'change_password' ufpk_id %}",
                method: "POST",
                headers:{
                'X-CSRFToken':csrftoken
                },
                data: {
                    'new_password': yeni_sifre,
                    'new_password2': yeni_sifre_tekrar,
                    'key': key
                },
                success: function (res) {
                    if (res['status'] === true) {
                        console.log("success")
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: res["message"],
                            showConfirmButton: false,
                            timer: 2000
                        }).then(function(){
                            window.location.href = "{% url 'loginPage' %}";
                        });
                    } else {
                        console.log("error")
                        if(res['code']==="passwords do not match"){
                            var pw1 = document.getElementById("passwordInput");
                            var pw2 = document.getElementById("passwordInput2");
                            pw1.style.border = "1px solid red";
                            pw2.style.border = "1px solid red";
                        }if(res['code']==="code is wrong"){
                            var keyInput = document.getElementById("keyInput");
                            keyInput.style.border = "1px solid red";
                        }
                        Swal.fire({
                            position: 'top-end',
                            icon: 'error',
                            title: res["message"],
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                }
            });
        });
    })
    </script>
</body>
</html>