.pack_infos {
    width: 360px;
    margin: 40px 0 0 0;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 340px !important;
    osition: relative;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(26,26,26,.9);
    line-height: normal !important;
    -webkit-font-smoothing: antialiased;
    transition: all .1s ease;
    text-transform: unset;
    min-width: 240px;
}
.default-input {
    font-size: 14px;
    padding: 10px 12px !important;
    position: relative;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(26,26,26,.9);
    line-height: normal !important;
    -webkit-font-smoothing: antialiased;
    transition: all .1s ease;
    text-transform: unset;
    height: initial !important;
    width: 100%;
    padding: 13px 12px !important;
    border: 0;
    border-radius: 7px;
    background-color: #fff;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0 !important;
    z-index: 1;
    box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0,0,0,.07), 0 1px 1.5px 0 rgba(0,0,0,.05);
}
section {
    display: flex; 
    height: 100%; 
    width: 100%; 
    justify-content: center; 
    justofy-items: center;
}
.label_infos{
    position: relative;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    line-height: normal !important;
    -webkit-font-smoothing: antialiased;
    transition: all .1s ease;
    text-transform: unset;
    font-size: 13px;
    font-weight: 500;
    margin: initial !important;
    color: rgba(26,26,26,.9) !important;
}
.label-group{
    margin-bottom: 0.5rem;
    -webkit-margin-after: 0.5rem;
    margin-block-end: 0.5rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    font-family: inherit;
    line-height: inherit;
}
.password-group{
    position: relative;
    min-width: 240px; 
    flex: 0 1 auto;
    width: 100%; 
    display: flex;
    flex-wrap: wrap; 
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    font-family: inherit;
    line-height: inherit;
}
.password-section{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    font-family: inherit;
    line-height: inherit
}
.input_left{
    width: 50% !important; 
    border-bottom-right-radius: 0; 
    border-top-right-radius: 0; 
    border-top-left-radius: 0; 
    font-size: 14px; 
    padding: 10px 12px !important; 
    position: relative; 
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(26,26,26,.9);
    line-height: normal !important;
    -webkit-font-smoothing: antialiased;transition: all .1s ease;
    text-transform: unset;
    height: initial !important;
    width: 100%;
    padding: 13px 12px !important;
    border: 0;
    border-radius: 7px;
    background-color: #fff;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0 !important;
    z-index: 1;
    box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0,0,0,.07), 0 1px 1.5px 0 rgba(0,0,0,.05);
    flex: 0 1 auto;
}
.input_right{
    width: 50% !important;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-size: 14px;
    padding: 10px 12px !important;
    position: relative;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgba(26,26,26,.9);
    line-height: normal !important;
    -webkit-font-smoothing: antialiased;
    transition: all .1s ease;
    text-transform: unset;
    height: initial !important;
    width: 100%;
    padding: 13px 12px !important;
    border: 0;
    border-radius: 7px;
    background-color: #fff;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0 !important;
    z-index: 1;
    box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0,0,0,.07), 0 1px 1.5px 0 rgba(0,0,0,.05);
    flex: 0 1 auto;
}

.pack_infos .mysr-form-method .mysr-form-inputAlert {
    display: block;
    margin-bottom: 3px;
    -webkit-margin-after: 3px;
    margin-block-end:3px;font-size: 13px;
    transition: opacity .2s ease-in-out,height .3s ease-in-out;
    opacity: 1;
    height: 19px
}

.pack_infos .mysr-form-method .mysr-form-alertDanger {
    color: #dc2727
}

.pack_infos .mysr-form-method .mysr-form-inputAlertHidden {
    opacity: 0;
    height: 0
}

.pack_infos .mysr-form-method .mysr-form-inputAlert:empty:before {
    content: "​" !important;
}

.pack_infos .mysr-form-method .mysr-form-requiredAlert {
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    color: #dc2727;
    margin: 0;
    margin-right: 4px;
    -webkit-margin-end: 4px;
    margin-inline-end:4px;position: relative;
    bottom: -4px;
    transition: opacity .2s ease-in-out;
    opacity: 1
}

.pack_infos .mysr-form-method .mysr-form-requiredAlertHidden {
    opacity: 0
}

.pack_infos .mysr-form-method .mysr-form-alertContainer {
    margin-left: 4px;
    -webkit-margin-start: 4px;
    margin-inline-start:4px;margin-top: 10px;
    -webkit-margin-before: 10px;
    margin-block-start:10px; }

.red-input {
    border: 1px solid red;
}

@media screen and (min-width: 768px) {
    .mysr-form-inputGroup {
        margin-bottom: 0.3rem !important;
        -webkit-margin-after: 1.3rem !important;
        margin-block-end: 0.3rem !important;}
}