@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
input[type=text],
input[type=password],
input[type=number],
input[type=date],
input[type=email],
select {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 20px;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=email]:focus,
select:focus {
  outline: 0;
  border: 1px solid #ccc;
}

label {
  cursor: pointer;
  display: block;
  margin: 7px 0;
}

input.search-input {
  background-color: rgba(255, 255, 255, 0.25);
  width: 170px;
  max-width: 100%;
  background: url("../img/search-icon.png") rgba(255, 255, 255, 0.25);
  background-size: 15px;
  background-position: 10px center;
  background-repeat: no-repeat;
  padding: 5px 10px 5px 30px;
  color: rgb(140, 140, 140);
  margin: 0;
}

select.patients-list-count-select {
  margin: 0;
}

div.switch-checkbox span:nth-of-type(1) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.user-bar .avatar-img-container img, section#header .dropdown-menu.user-menu .user-circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info .info-item, .minibar,
.main-slider, .user-bar, section#footer .theme-change-container, section#header > .container-fluid {
  display: flex;
  align-items: center;
}

section#header > .container-fluid .dropdown button .user-circle {
  display: flex;
  justify-content: center;
}

.user-bar button.custom.btn-blue {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 28px;
}

section#header {
  position: fixed;
  z-index: 13;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  background-color: #212C51;
  font-size: 14px;
}
section#header .dropdown-menu {
  padding-left: 10px;
  padding-right: 10px;
}
section#header .dropdown-menu.user-menu {
  color: #484848;
}
section#header .dropdown-menu.user-menu a:hover {
  color: #5071C8;
}
section#header .dropdown-menu.user-menu i {
  display: block;
  width: 80px;
  text-align: center;
  font-size: 16px;
}
section#header .dropdown-menu.user-menu .user-circle {
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
section#header .dropdown-menu.user-menu .user-circle img {
  position: absolute;
  max-width: 60px;
  max-height: 60px;
}
section#header .dropdown-menu.user-menu li {
  padding: 0;
}
section#header .dropdown-menu.user-menu li a {
  gap: 10px;
  padding: 0;
}
section#header .dropdown-menu.user-menu li a:hover {
  background-color: inherit;
}
section#header .dropdown-menu.user-menu li a .bottom-bordered {
  border-bottom: 1px solid #D9D9D9;
  padding: 5px;
}
section#header .dropdown-menu li {
  border-radius: 5px;
  overflow: hidden;
}
section#header .dropdown-menu li:nth-of-type(1) {
  margin-bottom: 5px;
}
section#header .dropdown-menu li.active {
  background-color: #eee;
}
section#header .dropdown-menu.notification {
  max-height: 400px;
  overflow-y: auto;
}
section#header .dropdown-menu.notification li {
  border-radius: 0;
  padding: 5px 0;
}
section#header .dropdown-menu.notification li a:active {
  color: inherit;
}
section#header .dropdown-menu.notification li i.completed-ok {
  color: #1cf171;
}
section#header .dropdown-menu.notification li i.completed-no {
  color: #ff2727;
}
section#header .dropdown-menu.notification li i.process {
  color: #125cc7;
  transform: rotate(0deg);
  animation: spin 1s infinite linear;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
section#header .dropdown-menu.notification li:not(:last-child) {
  border-bottom: 1px solid #e4e4e4;
}
section#header .dropdown-menu.notification li:nth-of-type(1) {
  margin-bottom: 0;
}
section#header .dropdown-menu.notification li a span:nth-of-type(1), section#header .dropdown-menu.notification li a span:nth-of-type(4) {
  font-size: 9px;
  font-weight: 300;
  color: #858585;
}
section#header .dropdown-menu.notification li a span:nth-of-type(2) {
  font-weight: 500;
}
section#header .dropdown-menu.notification li a span:nth-of-type(3) {
  font-weight: 500;
  color: #828282;
}
section#header > .container-fluid img.header-logo {
  max-height: 50px;
}
section#header > .container-fluid p.patient-name {
  user-select: none;
  margin-left: 15px;
}
section#header > .container-fluid p.patient-name span {
  font-size: 10px;
}
section#header > .container-fluid .dropdown {
  height: 100%;
  font-weight: 400;
}
section#header > .container-fluid .dropdown button {
  height: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
}
section#header > .container-fluid .dropdown button:focus {
  box-shadow: none;
}
section#header > .container-fluid .dropdown button .user-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: gray;
  overflow: hidden;
  align-items: flex-end;
}
section#header > .container-fluid .dropdown button .user-circle i {
  font-size: 25px !important;
}
section#header > .container-fluid .dropdown:nth-of-type(1) i:nth-of-type(2) {
  margin-left: 7px;
}

button.treatment-planning.active {
  background-color: #5071C8 !important;
}

div.switch-checkbox span:nth-of-type(1) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.user-bar .avatar-img-container img, section#header .dropdown-menu.user-menu .user-circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info .info-item, .minibar,
.main-slider, .user-bar, section#footer .theme-change-container, section#header > .container-fluid {
  display: flex;
  align-items: center;
}

section#header > .container-fluid .dropdown button .user-circle {
  display: flex;
  justify-content: center;
}

.user-bar button.custom.btn-blue {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html * {
  font-size: 12px;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  scroll-behavior: smooth !important;
}

a:hover {
  color: rgba(255, 255, 255, 0.5);
}

div.switch-checkbox span:nth-of-type(1) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.user-bar .avatar-img-container img, section#header .dropdown-menu.user-menu .user-circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info .info-item, .minibar,
.main-slider, .user-bar, section#footer .theme-change-container, section#header > .container-fluid {
  display: flex;
  align-items: center;
}

section#header > .container-fluid .dropdown button .user-circle {
  display: flex;
  justify-content: center;
}

.user-bar button.custom.btn-blue {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.switch-checkbox {
  width: 40px;
  height: 15.3846153846px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
div.switch-checkbox span:nth-of-type(1) {
  transition: left ease-in-out 0.2s;
  position: absolute;
  left: 0;
  width: 22.2222222222px;
  aspect-ratio: 1;
  background-color: #fff;
  z-index: 1;
  border-radius: 50%;
}
div.switch-checkbox span:nth-of-type(2) {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 0;
  border-radius: 15.3846153846px;
  transition: background-color ease-in-out 0.2s;
}
div.switch-checkbox input[type=checkbox] {
  position: absolute;
  inset: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
div.switch-checkbox input[type=checkbox]:checked + span {
  left: calc(100% - 22.2222222222px);
  transition: left ease-in-out 0.2s;
}
div.switch-checkbox input[type=checkbox]:checked + span + span {
  background-color: #1876ff;
  transition: background-color ease-in-out 0.2s;
}

body {
  background-color: #F5F5F5;
  color: #272727;
  font-size: 14px;
  font-family: "Inter", sans-serif !important;
}

.dark {
  background: #0B1536;
  color: #eee;
}

main {
  position: fixed;
  top: 55px;
  bottom: 55px;
  left: 55px;
  right: 0;
  overflow-y: auto;
}
main h1 {
  font-size: 28px;
}

aside {
  display: flex;
  flex-direction: column;
}
aside p.version {
  margin-top: auto;
  width: 100%;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #0B1536;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5071C8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5071C8;
}

.swal2-title {
  font-size: 12px !important;
  font-weight: 300 !important;
}

.swal2-popup.swal2-modal {
  width: auto !important;
  padding: 0 70px 10px 70px;
}

section#footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 55px;
  height: 55px;
  background-color: #212C51;
  color: white;
  user-select: none;
}
section#footer .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section#footer .container-fluid p {
  margin: 0;
}
section#footer .footer-links {
  display: flex;
  gap: 15px;
}
section#footer .theme-change-container {
  gap: 10px;
}

aside {
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 55px;
  width: 55px;
  background-color: #131D3E;
  color: white !important;
  padding: 24px 5px;
  font-size: 12px;
}
aside a.sidebar-link {
  padding: 10px 2px;
  border-radius: 3px;
  display: block;
  text-align: center;
  margin-bottom: 7px;
}
aside a.sidebar-link.active, aside a.sidebar-link:hover {
  background-color: #3C4871;
  color: inherit;
}
aside a.sidebar-link i {
  display: block;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html * {
  font-size: 12px;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  scroll-behavior: smooth !important;
}

a:hover {
  color: rgba(255, 255, 255, 0.5);
}

div.switch-checkbox span:nth-of-type(1) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.user-bar .avatar-img-container img, section#header .dropdown-menu.user-menu .user-circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info .info-item, .minibar,
.main-slider, .user-bar, section#header > .container-fluid, section#footer .theme-change-container {
  display: flex;
  align-items: center;
}

section#header > .container-fluid .dropdown button .user-circle {
  display: flex;
  justify-content: center;
}

.user-bar button.custom.btn-blue {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.switch-checkbox {
  width: 40px;
  height: 15.3846153846px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
div.switch-checkbox span:nth-of-type(1) {
  transition: left ease-in-out 0.2s;
  position: absolute;
  left: 0;
  width: 22.2222222222px;
  aspect-ratio: 1;
  background-color: #fff;
  z-index: 1;
  border-radius: 50%;
}
div.switch-checkbox span:nth-of-type(2) {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 0;
  border-radius: 15.3846153846px;
  transition: background-color ease-in-out 0.2s;
}
div.switch-checkbox input[type=checkbox] {
  position: absolute;
  inset: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
div.switch-checkbox input[type=checkbox]:checked + span {
  left: calc(100% - 22.2222222222px);
  transition: left ease-in-out 0.2s;
}
div.switch-checkbox input[type=checkbox]:checked + span + span {
  background-color: #1876ff;
  transition: background-color ease-in-out 0.2s;
}

body {
  background-color: #F5F5F5;
  color: #272727;
  font-size: 14px;
  font-family: "Inter", sans-serif !important;
}

.dark {
  background: #0B1536;
  color: #eee;
}

main {
  position: fixed;
  top: 55px;
  bottom: 55px;
  left: 55px;
  right: 0;
  overflow-y: auto;
}
main h1 {
  font-size: 28px;
}

aside {
  display: flex;
  flex-direction: column;
}
aside p.version {
  margin-top: auto;
  width: 100%;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #0B1536;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5071C8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5071C8;
}

.swal2-title {
  font-size: 12px !important;
  font-weight: 300 !important;
}

.swal2-popup.swal2-modal {
  width: auto !important;
  padding: 0 70px 10px 70px;
}

button.custom {
  border: none;
  outline: none;
  padding: 7px 15px;
  border-radius: 7px;
}
button.custom.btn-blue {
  background-color: #5071C8;
  color: white;
}
button.custom.transparent {
  background-color: transparent;
}
button.custom.blue-hover:hover {
  background-color: #5071C8;
  color: white;
}
button.custom:hover {
  opacity: 0.9;
}

.user-bar {
  background-color: #212C51;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 7px 0;
  color: #fff;
  justify-content: space-between;
}
.user-bar .avatar-img-container {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-color: #cdcdcd;
}
.user-bar .avatar-img-container img {
  max-width: 150px;
  position: absolute;
}
.user-bar p {
  margin: 0;
  color: #cdcdcd;
}
.user-bar p.white-bold {
  color: white;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 1.1em;
}
.user-bar p.white-bold.name {
  font-size: 14px;
  margin: 5px 0;
}
.user-bar button.custom.btn-blue {
  gap: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html * {
  font-size: 12px;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  scroll-behavior: smooth !important;
}

a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.minibar,
.main-slider {
  background-color: #212C51;
  border-radius: 10px;
  padding: 20px 40px;
  margin: 15px 0;
  color: #fff;
}

.minibar {
  gap: 30px;
  flex-wrap: wrap;
  font-size: 13px;
}
.minibar p {
  margin: 0;
  font-weight: 300;
}
.minibar p span {
  font-weight: 600;
}

.main-slider {
  margin-bottom: 15px;
  display: flex;
  gap: 15px;
  padding: 0;
  background-color: transparent;
  align-items: stretch;
}
.main-slider .left-slider {
  flex: 4.37;
  aspect-ratio: 3.82;
  background-color: #212C51;
  border-radius: 10px;
  overflow: hidden;
}
.main-slider .right-slider {
  flex: 1.23;
  aspect-ratio: 0.46;
  border-radius: 10px;
}
.main-slider .swiper {
  width: 100%;
  height: 100%;
}
.main-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-slider .swiper {
  width: 100%;
}
.main-slider .swiper-slide {
  background-size: cover;
  background-position: center;
}
.main-slider .dentalxrayslider-big {
  width: 100%;
}
.main-slider .dentalxrayslider-small {
  height: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}
.main-slider .dentalxrayslider-small .swiper-slide {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.main-slider .dentalxrayslider-small .swiper-slide-thumb-active {
  opacity: 1;
}
.main-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  padding-bottom: 10px;
}
.info .info-item {
  color: white;
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  background-color: #212C51;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.info .info-item:hover {
  background-color: #283663;
}
.info .info-item .status i {
  font-size: 18px;
  animation: spinning 1s linear infinite;
}
.info .info-item .status .result-bar {
  width: 18px;
  height: 18px;
  border-radius: 3px;
}
.info .info-item .status .result-bar.green {
  background-color: #2AEC1C;
}
.info .info-item button {
  margin-left: auto;
  border-radius: 60px;
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
